<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles1.css">
    <title>Amazon</title>
</head>
<body>
<%-include('./navbar')%> 
<%-include('./flash')%>
<%-include('./notifsPopup')%>
<%- (body) -%>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/userScript.js"></script> 
</body>
</html>