<%if (success && success.length) {%>
    <div class="alert alert-success" role="alert">
        <%=success%>
      </div>
    <%} else if (error && error.length){%>
        <div class="alert alert-danger" role="alert">
            <%=error%>
          </div>
        <%} else if (info && info.length){%>
          <div class="alert alert-warning" role="alert">
          <%=info%>
        </div>
          <%}%>