<div class="container row border" id="map-container" hidden>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <h5 >Is this Correct?</h5>
    <button class="btn btn-primary map-btn" id="confirm-address">Confirm</button>
    <button class="btn btn-danger map-btn" id="reenter-address">Re-enter</button>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibG9yaWJhMXRpbW9yZSIsImEiOiJja3ppbjA3Z3kwc2VrMnBxaGsxY3o0dnQ4In0.QzBP8BoDRGZetSuQiMVY7A';
    </script>

